*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
/* Cabeçalho */

.header{
    background: #FAC344;
    padding: 20px 0;
}

.header-container{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header h1>a{
    color: black;
    font-weight: 700;
}

.navbar a{
    padding: 10px;
    color: black;
    margin: 0 20px;
    transition: 0.3s; 
}

.navbar a:hover{
    background: #e4a104;
    border-radius: 18px;
}

/* Primeira Section */


.prelude-section{
    display: flex;
    margin: 0 auto;
    max-width: 960px;
}

.orange img{
    margin-top: 60px;
    width: 386px;
    max-width: 100%;
    height: 412px;
    max-height: 100%;

    border-radius: 10px;

}

.prelude-title h1{
    font-size: 4.5em;
    font-weight: 700;
}

.prelude-title p::before{
    content: '';
}

.prelude-title p{
    margin-top: 30px;
    font-size: 1.25em;
    font-weight: 100;
    width: 534px;

    line-height: 35px;
}

/* Segunda Section */

.prelude-about{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    margin: 0 50px;
}

.prelude-about img{
    max-width: 386px;
    max-height: 412px;
}

.prelude-about h1{
    font-size: 2.5em;
    font-weight: 700;
}

.prelude-about p{
    margin-top: 30px;
    font-size: 1.25em;
    font-weight: 100;
    line-height: 35px;

    width: 100%;
    max-width: 534px;
}

/* Formulário de Contato */ 


.contact h1{
    margin-top: 60px;
    margin-bottom: 60px;   
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
}

.contact-form{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    margin: 0 50px;

}

.contact-first p{
    margin-bottom: 40px;
    font-size: 1.25em;
    font-weight: 100;
    width: 434px;
    line-height: 35px;

}

.contact-first img{
    max-width: 386px;
    max-height: 412px; 
    border-radius: 10px;  
}

.contact-secund input{
    padding: 10px;
    display: block;
    outline: none;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 386px;
    border: 0.2px solid #000000;
    border-radius: 50px;
    height: 40px;
}

.contact-secund textarea{
    outline: none;
    resize: none;
    width: 386px;
    border-radius: 20px;

    padding: 10px;

}

.contact-secund [type="button"]{
    background: #FAC344;
    width: 150px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    border: none;
    transition: 0.2s;
    cursor: pointer;
}

.contact-secund [type="button"]:hover{
    background: #e9a70c;
    animation-direction: reverse;
}

.contact-secund p{
    margin-left: 5px;
    padding: 5px;
}

/* Footer */ 

.footer{
    padding-left: 40px;

    background: #EEBB05 60%;
    height: 170px;
}

.footer a{
    color: black;
}

