@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* Cabeçalho */

.header{
    background: #FAC344;
    padding: 20px 0;

}

.header-container{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    align-items: center;

    

}

.header h1>a{
    color: black;
    font-weight: 700;
}

.navbar{
    justify-items: end;
    flex-wrap: wrap;
}

.navbar a{

    padding: 10px;
    color: black;

    margin-left: 20px;

    transition: 0.2s;
}

.navbar a:hover{
    color: white;
}

/* Primeira Section - Initial*/


.prelude-section{
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    justify-content: space-between;

    margin-top: 80px;
    flex-wrap: wrap;

    
}

.orange img{
    margin-top: 60px;
    width: 386px;
    max-width: 100%;
    height: 412px;
    max-height: 100%;

    border-radius: 10px;

}

.prelude-title h1{
    font-size: 4.55em;
    font-weight: 700;
}


.prelude-title p{
    margin-top: 30px;
    font-size: 1.25em;
    font-weight: 200;
    max-width: 534px;

    line-height: 35px;
}

/* Segunda Section - About */

.about-container{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    margin-top: 80px;


    flex-wrap: wrap-reverse;

}


.prelude-about img{
    width: 386px;
    height: 412;

}

.prelude-about h1{
    text-align: right;
    font-size: 2.5em;
    font-weight: 700;
}

.prelude-about p{
    margin-top: 30px;
    font-size: 1.25em;
    font-weight: 200;
    max-width: 534px;


    text-align: right;
    line-height: 35px;


}

/* Formulário de Contato */ 

.contact{
    max-width: 960px;
    margin: 0 auto;

}

.contact h1{
    margin-top: 60px;
    margin-bottom: 60px;   
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.contact-form{
    margin-top: 60px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap


}

.contact-first p{
    margin-bottom: 40px;
    font-size: 1.25em;
    font-weight: 200;
    width: 434px;
    line-height: 35px;

}

.contact-first img{
    max-width: 386px;
    max-height: 412px; 
    border-radius: 10px;  
}

.contact-secund input{
    padding: 10px;
    display: block;
    outline: none;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 386px;
    border: 0.2px solid #000000;
    border-radius: 50px;
    height: 40px;
}

.contact-secund textarea{
    outline: none;
    resize: none;
    width: 386px;
    border-radius: 20px;

    padding: 10px;

}

.contact-secund [type="button"]{
    background: #FAC344;
    width: 150px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    border: none;
    transition: 0.2s;
    cursor: pointer;
}

.contact-secund [type="button"]:hover{
    background: #e9a70c;
    animation-direction: reverse;
}

.contact-secund p{
    margin-left: 5px;
    padding: 5px;
}

/* Footer */ 

.footer{
    background: #FAC344 60%;

}

.footer-container{
    background: #FAC344 60%
}

.footer a{
    color: black;
}

.footer-about a:hover{
    text-decoration: underline black;
}

.footer-container{
    max-width: 960px;
    margin: 0 auto;
    padding-top: 20px;

    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}

/* @media only screen and (max-width: 600px) {
    .footer-container{
        justify-content: center;
        padding: 0 40px;
    }
  } */


.footer-about li{
    margin-bottom: 10px;
    font-weight: 200;
}

.redes li{
    text-align: center;
}
.redes-item{
    display: flex;
    margin-top: 10px;
    margin: 10px;
}

.redes-item img:hover{
    background: #e9a70c;
}

/* Corpyright */

.credits{
    background: black;
    color: white;
    
}

.credits a{
    color: lightblue;
    text-decoration: underline lightblue;
}

.credits a:hover{
    color: #1588f3;
    text-decoration: underline #1588f3;

}

.credits-container{
    display: flex;
    justify-content: center;

}

.credits-container span, p{
    padding: 20px 10px;
}